
.auth-container {
    display: flex;
    justify-content: center;
    gap: 80px; 
    width: 100%;
    align-items: center;
    max-width: 1000px;
    margin-left: center;
    margin: auto;
    
    padding: 40px 0;
}


.auth-box {
    background: #091D35; 
    padding: 30px;
    border-radius: 16px;
    width: 380px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


.auth-box h2 {
    color: whitesmoke;
    margin-bottom: 20px;
    font-size: 24px;
}


.auth-box input {
    width: 80%;
    padding: 14px;
    margin: 10px 0;
    border: 2px solid wheat;
    border-radius: 6px;
    font-size: 16px;
    background: #222;
    color: white;
    outline: none;
    text-align: left;
}
.auth-box button {
    background-color: wheat;
    margin: 10px 0;
    color: #091D35;
    padding: 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    width: 88%;
    font-weight: bold;
}

.auth-box button:hover {
    background-color: white;
}


@media (max-width: 768px) {
    .auth-container {
        flex-direction: column;
        gap: 30px;
    }
    
    .auth-box {
        width: 90%;
        padding: 40px;
    }
}



