.navb {
    width: 82%;
    margin-left: -2rem;
    height: 60px;
    background-color: #2f3f4f;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: -rem;
    right: 0;
    margin-left:-rem;
  }
  
  .navb-title {
    font-size: 20px;
    font-weight: bold;
  }
  
  .navb-menu {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-left:-10rem;
    padding-left: -20rem;
  }
  
  .navb-item {
    cursor: pointer;
    transition: color 0.3s;
    
  }
  
  .navb-item:hover {
    color: #f39c12;
  }
  